@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 148, 163, 184;
  --background-end-rgb: 148, 163, 184;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 148, 163, 184;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: #171223;
  border-bottom: 2px solid #09090b;
  margin-bottom: 10px;
  @apply bg-slate-300 dark:bg-gradient-to-t from-sky-950 from-5% via-slate-900 via-60% to-slate-950 to-90%;
}
