@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Bonbon&family=Rock+3D&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 148, 163, 184;
  --background-end-rgb: 148, 163, 184;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 148, 163, 184;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url("/assets/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.info_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @apply bg-indigo-900;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #fff;
  transition: height 1.3s ease;
  max-width: 600px;
  min-width: 360px;
  height: fit-content;
  max-height: 95dvh;
  overflow-y: auto;
}

.icon_btn {
  cursor: pointer;
  font-size: 24px;
  @apply text-indigo-500;
}

.closeIcon:hover {
  fill: #fff;
  transition: 0.3s;
}

.modal-header {
  color: #fff;
  @apply bg-slate-300 dark:bg-gradient-to-l from-slate-600 from-10% to-slate-800 to-80%;
}
