.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: #171223;
  border-bottom: 2px solid #09090b;
  margin-bottom: 10px;
  @apply bg-slate-300 dark:bg-gradient-to-t from-sky-950 from-5% via-slate-900 via-60% to-slate-950 to-90%;
}
